mat-toolbar {
    background: #F9CD04;
    font-size: 2rem;
    font-weight: bold;
    color: #976C04;
    display: flex;
    justify-content: space-between;
}

mat-icon {
    margin-right: 1rem;
    cursor: pointer;
}

.search-text {
    border: none;
    padding: 5px 10px;
    width: 200px;
    background: no-repeat;
    border-bottom: 1px solid;
    outline: none;
}